.card-container {
  justify-content: center;
}

.cards {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cards:hover {
  background-color: #f3f4f6;
}

.card-left,
.card-right,
.card-middle {
  width: 32%;
  height: 90%;
  font-size: 11px;
}

.card-items {
  margin-bottom: 9px;
}

.parcel-value {
  display: inline-block;
}
@media (max-width: 950px) {
  .card-left,
  .card-right,
  .card-middle {
    display: block;
    font-size: 11px;
  }
  .parcel-value {
    display: block;
  }
  .cards {
    height: 110px;
  }
}
