.detail-form {
  width: 800px;
  font-size: small;
}

.form-row {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.top-right,
.top-left {
  display: inline-block;
  margin-right: 20px;
}

.back-btn {
  font-size: small;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
  cursor: pointer;
}

@media (max-width: 880px) {
  .top-right,
  .top-left {
    display: block;
  }
}
