.cabinet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.cabinet {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

.cabinet.exist {
    background-color: #a3d8f4;
}

.cabinet.empty {
    background-color: #f7d8a8; /* Light grey for empty cabinets */
}
